.navigation,
#login-page {
  background-image: url('../images/backgrounds/background_dark.jpg');
}

.navigation:after,
#login-page:after {
  background: #314557;
  background: linear-gradient(to bottom, rgba(38,51,64,0.9) 5%, rgba(14, 25, 40, 0.8) 100%);
}

body.no-bg-img .navigation:after {
  background-color: #314557;
}

.breadcrumb > li.breadcrumb-home > a > i,
.search-form:hover span.form-control-feedback,
.search-form span.form-control-feedback:focus {
  color: #314557;
}

.search-form .form-control:hover,
.search-form .form-control:focus {
  border: 2px solid #314557;
}

.pace .pace-progress {
  background: #314557;
  background: linear-gradient(to bottom, rgba(38,51,64,0) 5%, rgba(14, 25, 40, 0.8) 100%);
}

.select2-container--default .select2-selection--single {
    		background-color: #fff;
    		border: 1px solid #e0e6eb;
    		border-radius: 4px;
			height: 34px;
    		padding: 2px 2px;
}

.content{
  background-color: rgba(38,51,64,0.9);
}

.card{
  background-color: #3a4653 !important;
  border: 1px solid #686868 !important;
}

h1,h2,h3,h4,h5,h6,p,span,a{
  color: #fff !important;
}

#popup{
  background-color: rgba(38,51,64,0.9) !important;
}

.select2-dropdown{
  background-color: rgba(38,51,64,0.9) !important;
}

.modal-content{
  background-color: #3a4653 !important;
}

table,tbody,tr{
  background-color: #3a4653 !important;
}

.sorting_1{
  background-color: #3a4653 !important;
}

div{
  color: #fff !important;
}

td,th{
  color: #fff !important;
}

nav{
  background-color: #3a4653 !important;
}

.navbar-nav {
  background-color: #3a4653 !important;
}

li{
  color: #fff !important;
}

.footer {
  background-color: #3a4653 !important;
  border: 1px solid #686868 !important;
}

.colorboton{
  background-color: #3a4653 !important;
  border: none !important;
  margin: 0 !important;
}

.panel{
  background-color: #3a4653 !important;
}

.fondoblanco {
  background-color: #3a4653 !important;
}

.swal2-icon .swal2-icon-content {
  display: flex;
  align-items: center;
  font-size: 3.75em;
  color: #facea8!important;
}

.swal2-modal .swal2-title {
  color: #000 !important;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 0 0 0.4em;
  padding: 0;
  display: block;
  word-wrap: break-word;
}

[class^=swal2] {
  -webkit-tap-highlight-color: transparent;
  color: black !important;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #2778c4 !important;
  color: #fff !important;
  font-size: 1em;
}

.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #757575;
  color: #fff !important;
  font-size: 1em;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444 !important;
  line-height: 28px;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background-color: transparent !important;
  border-color: transparent;
  color: #997;
}